# used for settings, copy to a file named .env and change the values
openai_api_key=your-openai-api-key
openai_model_name=gpt-4o-mini
local_embedding_model="all-MiniLM-L6-v2"
temperature=0
max_tokens=200
api_port=8080
api_host=localhost
knowledge_base_path=./knowledge-base
num_iterations=10